language: python
sudo: false
python:
- '3.6'
- '3.7'
- '3.8'
install:
- pip install ".[testing]"
script: nosetests
deploy:
  provider: pypi
  user: vmalloc
  password:
    secure: dLHV+qi3Pgd61dyDDIGBO7dauuZ3hS/0guZNwkLy2g/4eSzNKcUDXDxBeYYLiduZhRPEdAkAM5pirjc0FCBJUxdrncuNOsvIphRh/DhM9aEpiaiTuGBoOyxF2UPAfJwfvIjkSbdAGjeIuTK1aCAtXkijYHmCKnAjRTRmgRgBW2g=
  on:
    tags: true
    repo: vmalloc/pyforge
